<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- title & favicon -->
	<title><%- page_title %></title>
	<link rel="icon" href="/favicon.png" type="image/png"/>
	<link rel="canonical" href="<%- page_url %>"/>
	
	<!-- info -->
	<meta name="author" content="<%- page_author %>"/>
	<meta name="description" content="<%- page_description %>"/>
	<meta name="keywords" content="<%- page_keywords %>"/>
	
	<!-- sharing -->
	<meta property="og:title" content="<%- page_og_title %>"/>
	<meta property="og:description" content="<%- page_og_description %>"/>
	<meta property="og:url"   content="<%- page_og_url %>"/>
	<meta property="og:image" content="<%- page_og_image %>"/>
	<meta property="og:type"  content="<%- page_og_type %>"/>

	<!-- scripts -->
	<script type="module" src="./src/main.ts"></script>
</head>
<body>
		<div class="App">
			<h1 class="App-Header" style="
				text-align: center; 
				margin: 0;
				font-size: 50px;
			">Heledron</h1>
			<div class="App-Main">
				<helion-card style="padding: .5em;">
					Welcome! <br />
					This is my personal website. I post all my projects here, including free tools, packages, and more.
				</helion-card>

				<helion-card style="padding: .5em;">
					Current Project: <code><a href="https://github.com/TheCymaera/mcpack-builder" target="_blank">mcpack-builder</a></code>
				</helion-card>

				<helion-wrapping-grid class="App-Tools">
					<%- include(process.cwd() + '/cards.html') %>
				</helion-wrapping-grid>
			</div>

			<div class="App-Sidebar">
				<helion-wrapping-grid class="App-Links" id="links">
					<%- include(process.cwd() + '/links.html') %>
				</helion-wrapping-grid>
			</div>

			<span style="flex: 1;"></span>
		</div>
	</div>
</body>
</html>