#app {
	padding: 1em;

	display: grid;
	gap: 1em;
	grid-template: 
		"header header" min-content
		"main sidebar" 1fr / 1fr 210px;

	margin: auto;
	width: min(100%, 850px);
}

@media (max-width: 700px) {
	#app {
		grid-template: 
			"header" min-content
			"main" min-content
			"sidebar" min-content;
	}
}

#header {
	grid-area: header;
}

#mainColumn {
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
}

#mainColumn > *,
#sidebar > * {
	margin-bottom: 1em;
}


/* Tools */
#tools {
	--min-column-width: 250px;
	grid-gap: 1em;
}

#tools img {
	display: block;
	text-align: center;

	width: 100%;
	height: auto;
}

#tools div {
	padding: .5em;
	line-height: 1.2;
}

#tools h2 {
	font-size: 100%;
	margin: 0;
}

/* Links */
#links {
	--min-column-width: 90px;
	grid-gap: 1em;
	align-items: start;
}

#links .Card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: .5em;
	aspect-ratio: 1;
}

#links i {
	display: grid;
	place-items: center;

	height: 1em;
	width: 1em;
	font-size: 200%;
}

#links h3 {
	margin: 0;
}