.App {
	padding: .5em;

	display: grid;
	gap: 1em;
	grid-template: 
		"header header" min-content
		"main sidebar" 1fr / 1fr 210px;

	margin: auto;
	width: min(100%, 800px);
}

@media (max-width: 800px) {
	.App {
		grid-template: 
			"header" min-content
			"main" min-content
			"sidebar" min-content;
	}
}

.App-Header {
	grid-area: header;
}

.App-Main {
	grid-area: main;
}

.App-Sidebar {
	grid-area: sidebar;
}

.App-Main > *,
.App-Sidebar > * {
	margin-bottom: 1em;
}