@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
	--color-surface: #eee;
	--color-onSurface: #333;

	--color-container: #fff;
	--color-onContainer: #333;
	--color-containerHover: color-mix(in srgb, var(--color-container), var(--color-onContainer) 6.5%);
	--color-containerActive: color-mix(in srgb, var(--color-container), var(--color-onContainer) 12%);

	--color-primary-100: var(--color-teal-100);
	--color-primary-200: var(--color-teal-200);
	--color-primary-300: var(--color-teal-300);
	--color-primary-400: var(--color-teal-400);
	--color-primary-500: var(--color-teal-500);
	--color-primary-600: var(--color-teal-600);
	--color-primary-700: var(--color-teal-700);
	--color-primary-800: var(--color-teal-800);
	--color-primary-900: var(--color-teal-900);

	--color-onPrimary: #fff;

	--color-codeContainer: color-mix(in srgb, transparent, var(--color-onSurface) 5%);

	--outline-width: 2.5px;
	--outline-offset: 2.5px;
}

@layer base {
	html {
		font-family: Tahoma, sans-serif;
		background: var(--color-surface);
		color: var(--color-onSurface);
		line-height: 1.5;
	}

	code {
		font-family: "Courier New", Courier, monospace;
		background: var(--color-codeContainer);
	}

	small {
		font-size: 80%;
		opacity: 80%;
	}

	* {
		box-sizing: border-box;
		outline-offset: var(--outline-offset);
		outline-width: var(--outline-width);
		outline-color: transparent;
	}

	:where(:focus-visible) {
		outline-style: solid;
		outline-color: var(--color-primary-500);
	}

	.WrappingGrid {
		--min-column-width: 250px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-column-width)), 1fr));
	}

	.Card {
		background: var(--color-container);
		color: var(--color-onContainer);
		border-radius: var(--radius-md);
		overflow: hidden;

		box-shadow: 0 0 .5rem #0002;
		transition: box-shadow .1s;
		contain: content;

		outline-offset: calc(var(--outline-width) * -1);
	}

	a.Card {
		transition: box-shadow .15s ease, background-color .15s ease;

		@media (hover: hover) {
			&:hover {
				box-shadow: 0 0 .5rem #0003;
				background: var(--color-containerHover);
			}
		}

		&:active {
			box-shadow: 0 0 .5rem #0005;
			background: var(--color-containerActive);
		}
	}
}

@utility nearest-neighbor {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}